/* 全体のスタイル */
body {
  width: 375px;
  height: 467px;
  overflow: scroll;
  margin: 0 auto;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  list-style: none;
  color: #444444;
  line-height: 1.8rem;
}
header {
  padding: 16px;
  text-align: center;
}
h1 {
  font-size: 24px;
  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, sans-serif;
}
h2 {
  font-size: 18px;
  margin-bottom: 8px;
}
/* フォームのスタイル */
.indexForm {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px; /* ボタンの高さ分余白を確保 */
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; /* 縦方向のリサイズのみ許可 */
}

#weatherInfo {
  margin-bottom: 0px;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; /* セルの境界線を重ねる */
  margin: 0 auto 70px; /* テーブルを中央に配置 */
  font-size: 14px;
}

th,
td {
  padding: 4px; /* セルの内側の余白 */
  text-align: left; /* テキストを左揃え */
}

th {
  background-color: #f2f2f2; /* ヘッダーセルの背景色 */
}
tr {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd; /* セルの下線を付ける */
}

#sendBtn {
  display: flex;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 16px auto 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* ナビゲーションボタンのスタイル */
.nav-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.nav-buttons ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-buttons li {
  padding: 0;
  list-style: none;
  flex: 1; /* リスト項目を等幅に広げる */
}
.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 4px;
}
.nav-buttons li img {
  width: 100%;
  height: 100%;
}

.nav-buttons a {
  display: flex; /* フレックスボックスレイアウトを使用 */
  flex-direction: column; /* 垂直方向に配置 */
  justify-content: center; /* 垂直方向の中央揃え */
  align-items: center; /* 水平方向の中央揃え */
  text-decoration: none;
  color: #333;
  width: 100%; /* リンクの幅を100%に設定 */
  height: 100%; /* リンクの高さを100%に設定 */
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 48%;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

#searchForm {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}

#searchForm input {
  width: 70%;
}

#searchBtn {
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-left: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.user_registration{
  margin: 40px 0;
  padding-bottom: 100px;
}
form {
  margin-bottom: 40px;
}